{{>partials/header}}

<hr />
<fieldset>
    <legend>Adicionar Novos Usuarios</legend>
    <form action="/new-user" method="post">
        <input type="text" name="name" id="name" placeholder="Digite seu nome" />
        <input type="text" name="lastname" id="lastname" placeholder="Digite seu sobrenome" />
        <input type="email" name="email" id="email" placeholder="Digite seu e-mail" />
        <input type="number" name="age" id="age" placeholder="Digite sua idade" />
        <input type="text" name="interests" id="interestsname"
            placeholder="Digite interesses (separados por vírgula)" />
        <input type="submit" value="Inserir" />
    </form>
</fieldset>

<h3>Usuários</h3>
<ul>
    {{#users}}
    <li>{{name.firstName}} - {{age}} anos</li>
    {{/users}}
</ul>


{{>partials/footer}}